---
import Codeberg from "./Icons/Codeberg.astro";
import Email from "./Icons/Email.astro";
import GitHub from "./Icons/GitHub.astro";
import PgpKey from "./Icons/PgpKey.astro";
import Lastfm from "./Icons/Lastfm.astro";
import Social from "./Social.astro";
import Telegram from "./Icons/Telegram.astro";
---

<ul>
    <Social>
        <iframe
            id="discord-widget"
            title="User Embed"
            width="340"
            height="120"
            frameborder="0"
            sandbox="allow-scripts"
            src="https://widgets.vendicated.dev/user?id=343383572805058560&theme=light&banner=true&full-banner=false&rounded-corners=false&discord-icon=true"
        ></iframe>
    </Social>
    <Social
        title="Github"
        text="Vendicated"
        href="https://github.com/Vendicated"
    >
        <GitHub slot="icon" />
    </Social>
    <Social title="Codeberg" text="Ven" href="https://codeberg.org/Ven">
        <Codeberg slot="icon" />
    </Social>
    <Social
        title="Last.fm"
        text="@ungfella"
        href="https://www.last.fm/user/ungfella"
    >
        <Lastfm slot="icon" />
    </Social>
    <Social
        title="Telegram"
        text="@vendyymachine"
        href="https://t.me/vendyymachine"
    >
        <Telegram slot="icon" />
    </Social>
    <Social
        title="Email"
        text="vendicated@riseup.net"
        href="mailto:Vendcated%20<vendicated@riseup.net>"
    >
        <Email slot="icon" />
    </Social>
    <Social title={"PGP"} text="A1DC 0CFB 5615 D905" href="/pgp_key.asc.txt">
        <PgpKey slot="icon" />
    </Social>
</ul>

<script>
    import { getCurrentTheme } from "../scripts/themeRuntime";

    const widget = document.querySelector(
        "#discord-widget"
    ) as HTMLIFrameElement;

    const setWidgetTheme = () => {
        const data = {
            command: "setTheme",
            theme: getCurrentTheme(),
        };
        widget.contentWindow!.postMessage(data, "*");
        console.log("Posted", data);
    };

    if (getCurrentTheme() === "dark")
        widget.src = widget.src.replace("theme=light", "theme=dark");

    document.addEventListener("themechange", setWidgetTheme);
</script>

<style lang="scss">
    ul {
        list-style: none;
        // the user agent padding is insane
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    iframe {
        box-shadow: 0px 0px 0px 1px var(--color);
        border-radius: 12px;
    }

    :global(.dark) iframe {
        box-shadow: none;
    }
</style>
